<template>
  <div class="home">
    <Login v-if="!user.isAuthed" />
    <div v-if="user.isAuthed">
      <h1>Congrats you are already signed in!</h1>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Login from "@/components/Login.vue";
import { mapState } from 'vuex';

export default {
  name: "home",
  components: {
    Login
  },
  computed: {
    ...mapState([
      'user'
    ])
  }
};
</script>
