<template>
  <div class="notFound">
    <h1>404</h1>
    <p>there is nothing to see here</p>
  </div>
</template>

<script>
export default {
  name: "NotFound",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.notFound {
  color: purple;
  h1 {
    font-size: 100px;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  p {
    font-size: 10px;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}
</style>
