<template>
  <b-container id="search-page">
    <!-- <h1>This is the search page</h1> -->
    <b-row>
      <b-col class="left">
        <Video :selected-video="selected" />
      </b-col>
      <b-col class="right">
        <Search />
        <Results v-if="videos.length >= 0" :video-result="videos" v-on:select-video="setSelected" />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
// @ is an alias to /src
import Video from '@/components/Video.vue'
import Search from '@/components/Search.vue'
import Results from '@/components/Results.vue'

export default {
  name: 'search',
  data() {
    return {}
  },
  components: {
    Search,
    Results,
    Video
  },
  methods: {
    setSelected: function(videoID) {
      this.$store.dispatch('setSelectedVideo', videoID);
    }
  },
  computed: {
    selected: {
      get() {
        return this.$store.state.selectedVideo;
      }
    },
    videos: {
      get() {
        return this.$store.state.videos;
      }
    }
  }
};
</script>

<style lang="scss" scoped>

</style>
