<template>
  <div class="header">
    <h1>STG YouTuber</h1>
    <div id="nav" class="main-nav">
      <nav class="main-nav">
        <router-link to="/">Home</router-link>
        <router-link to="/search" v-if="user.isAuthed">Search</router-link>
        <router-link to="/favorites" v-if="user.isAuthed">Favorites</router-link>
      </nav>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: "Header",
  computed: {
    ...mapState([
      'user'
    ])
  }
};
</script>

<style scoped lang="scss">
.header {
  width: 100%;
  margin-bottom: 25px;
}
#nav {
  width: 25%;
  margin: 0 auto;
  nav.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > * {
      flex: 1;
      display: flex;
      justify-content: center;
      text-decoration: none;
    }
  }
}
</style>
