<template>
  <div id="login">
    <b-form @submit.prevent="checkForm" novalidate>
      <b-form-group label="Email Address">
        <b-form-input type="email" placeholder="Email Address" required v-model="form.email" />
      </b-form-group>

      <b-form-group label="Password">
        <b-form-input :type="showPassword ? 'text' : 'password'" placeholder="Password" required v-model="form.password" />
        <b-button variant="danger" :disabled="!form.password" @click="showPassword = !showPassword">
          <span v-if="!showPassword">Show</span>
          <span v-if="showPassword">Hide</span> Password</b-button>
      </b-form-group>

      <div class="text-center">
        <b-button type="submit" variant="primary" :disabled="isDisabled" block>Sign In</b-button>
      </div>
    </b-form>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {
      showPassword: false,
      form: {
        email: '',
        password: ''
      },
      regEmail: /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
      regPass: /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,8}$/
    };
  },
  methods: {
    // this checkes the form and authenticates the user
    checkForm: function() {
      let user = {
        email: this.form.email,
        password: this.form.password
      };
      // this call an action in store.js to simulate the wait while logging in.
        this.$store.dispatch('userLogin', user);
    },
    // this validates the email as they type and disabled the submit button if it is not valid
    isEmailValid: function() {
      return this.form.email === '' ? false : this.regEmail.test(this.form.email) ? true : false;
    },
    // this validates the password as they type and disabled the submit button if it is not valid
    isPasswordValid: function() {
      return this.form.password === '' ? false : this.regPass.test(this.form.password) ? true : false;
    }
  },
  computed: {
    localUser() {
      return this.$store.getters.getUser;
    },
    isDisabled() {
      return (this.isEmailValid() && this.isPasswordValid()) ? false : true;
    }
  }
};
</script>

<style scoped lang="scss">
#login {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1.5rem;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  .container-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    img {
      width: 2rem;
      height: 2rem;
    }
  }
  form {
    display: flex;
    flex-flow: column;
    *:not(:last-child) {
      margin-bottom: 1rem;
    }
    input {
      padding: 0.5rem;
    }
  }
  .disabled-email, .disabled-password {
    cursor: not-allowed;
  }
}
</style>
