<template>
  <b-container id="results-comp">
    <b-card no-body class="overflow-hidden mb-3" style="max-width: 540px;" v-for="video in videoResult" :key="video.id.videoId">
      <b-row class="ellipsis" no-gutters>
        <b-col md="4">
          <b-link v-on:click="$emit('select-video', video.id.videoId)" class="card-link">
            <b-card-img :src="video.snippet.thumbnails.default.url" class="rounded-0"></b-card-img>
          </b-link>
        </b-col>
        <b-col md="8">
          <b-card-body :title="video.snippet.title">
            <b-card-text>
              {{ video.snippet.description }}
            </b-card-text>
          </b-card-body>
        </b-col>
      </b-row>
    </b-card>
  </b-container>
</template>

<script>
export default {
  name: "Results",
  data() {
    return {
      videos: this.$store.state.videos
    };
  },
  props: [ 'videoResult' ],
  methods: {
    selectVideo: function(videoId) {
      this.$store.dispatch('setSelectedVideo', videoId);
    }
  },
  computed: {}
};
</script>

<style lang="scss" scoped>
.ellipsis {
  overflow: hidden;
  height: 125px;
  line-height: 25px;
}

.card-title {
  margin-bottom: 0rem;
}
</style>
