<template>
  <b-container id="search-comp">
    <!-- <h1>Search Component</h1> !-->
    <b-form @submit.prevent="searchYouTube">
      <b-form-group>
        <b-input-group class="mt-3">
          <b-form-input type="text" placeholder="Search" v-model="searchString" />
          <b-input-group-append>
            <b-button variant="outline-secondary" type="submit">
              <font-awesome-icon icon="search"></font-awesome-icon>
            </b-button>
          </b-input-group-append>
        </b-input-group>
      </b-form-group>
    </b-form>
  </b-container>
</template>

<script>
import API_KEYS from '@/../APIKeys';

export default {
  name: 'Search',
  data() {
    return {
      searchString: '',
      searchApi: {
        baseUrl: 'https://www.googleapis.com/youtube/v3/search?',
        part: 'snippet',
        type: 'video',
        maxResults: 10,
        q: '',
        key: API_KEYS.YOU_TUBE
      }
    }
  },
  props: {

  },
  methods: {
    searchYouTube: function() {
      let query = this.searchString.split(' ');
      this.searchApi.q = query.join('+');
      const { baseUrl, part, type, maxResults, q, key } = this.searchApi;
      const apiUrl = `${baseUrl}part=${part}&type=${type}&q=${q}&maxResults=${maxResults}&key=${key}`;
      this.$store.dispatch('youtubeSearch', apiUrl);
    }
  },
  computed: {}
};
</script>

<style scoped lang="scss">

</style>
