<template>
  <b-container id="video-comp">
    <b-embed
      type="iframe"
      aspect="16by9"
      :src="embedUrl + selectedVideo.id"
      allowfullscreen>
    </b-embed>
    <b-container>
      <h2>{{ selectedVideo.snippet.title }}</h2>
      <p>{{ selectedVideo.snippet.description }}</p>
    </b-container>
  </b-container>
</template>

<script>
export default {
  name: 'Video',
  data() {
    return {
      selected: this.$store.state.selectedVideo,
      embedUrl: 'https://www.youtube.com/embed/'//,
      // video: {
      //   baseUrl: 'https://www.youtube.com/embed/',
      //   id: this.$store.state.selectedVideo.id,
      //   title: this.$store.state.selectedVideo.snippet.title,
      //   description: this.$store.state.selectedVideo.snippet.description
      // }
    };
  },
  props: {
    selectedVideo: {}
  },
  methods: {}
};
</script>

<style scoped lang="scss">

</style>
